.profile-box {
  width: 300px;
  background-color: #18191c;
  position: fixed;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.profile-img {
  flex: 0 0 auto;
  background-color: #5865f2;
  height: 120px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.profile-avatar-box {
  position: absolute;
  top: 76px;
  left: 16px;
  border-radius: 50%;
}

.profile-avatar {
  width: 92px;
  height: 92px;
  border: 6px solid #18191c;
  background-color: #18191c;
  border-radius: 50%;
}

.profile-avatar img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.profile-header {
  display: block;
  flex-shrink: 0;
  padding: 64px 16px 16px;
  overflow: hidden;
  position: relative;
}

.profile-header-text {
  font-size: 20px;
  line-height: 24px;
  word-break: break-word;
  white-space: normal;
  align-items: flex-end;
  color: white;
  font-weight: bold;
}

.profile-body {
  padding: 0 16px 14px;
  flex: 0 1 auto;
  min-height: 0;
  overflow: hidden;
}

.profile-body > hr {
  margin-bottom: 12px;
  color: hsla(0, 0%, 100%, 0.06);
  background-color: hsla(0, 0%, 100%, 0.06);
  height: 2px;
  border: none;
}

.aboutMe-box {
  margin-bottom: 16px;
}

.aboutMe-box h2 {
  color: #b9bbbe;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.aboutMe-box p {
  color: #dcddde;
  font-size: 14px;
  line-height: 18px;
}

.activity-box {
  margin-bottom: 16px;
}

.activity-box h2 {
  color: #b9bbbe;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.activity-body {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.activity-icon {
  width: 60px;
  height: 60px;
  background-color: #5865f2;
  border-radius: 10px;
}

.activity-icon > img {
  width: 85%;
  height: 85%;
  border-radius: 0;
  position: relative;
  top: 4px;
  left: 5px;
}

.activity-info {
  margin-left: 10px;
  color: #dcddde;
}

.activity-info > h3,
.activity-info > p {
  font-size: 14px;
  line-height: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
